// Copyright 2026 Zeroincombenze srls <https://www.zeroincombenze.it>
// License LGPL-3.0-or-later (https://www.gnu.org/licenses/lgpl).
// VERSION-DEPENDENT: Odoo 16 adapter.
.o_cp_top_right {
    display: flex;
    align-items: center;
    > .o_cp_searchview {
        flex: 1 1 auto;
        min-width: 0;
    }
}
.o_control_panel .o_wch_button {
    font-size: 1.25rem;
    padding: 0 0 0 0.5rem;
}
.o_wch_highlight {
    outline: 3px solid $o-brand-primary;
    outline-offset: 2px;
    transition: outline-color 0.3s;
}
