<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <record id="action_mk_test_env" model="ir.actions.act_window">
        <field name="name">Create Test Environment</field>
        <field name="res_model">wizard.make.test.environment</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>

    <record id="action_mk_test_pyfile" model="ir.actions.act_window">
        <field name="name">Create python source test file</field>
        <field name="res_model">wizard.mk.test.pyfile</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>

    <record id="action_get_test_data" model="ir.actions.act_window">
        <field name="name">Get python source test dta</field>
        <field name="res_model">wizard.get.test.data</field>
        <field name="view_mode">form</field>
        <field name="target">new</field>
    </record>

    <menuitem
        id="menu_mk_test_env"
        name="Create Test Environment"
        action="action_mk_test_env"
        parent="base.next_id_9"
        groups="base.group_no_one"
        sequence="90"
    />

    <menuitem
        id="menu_mk_test_pyfile"
        name="Create python source test file"
        action="action_mk_test_pyfile"
        parent="base.next_id_9"
        groups="base.group_no_one"
        sequence="91"
    />

    <menuitem
        id="menu_get_test_date"
        name="Get python source test data"
        action="action_get_test_data"
        parent="base.next_id_9"
        groups="base.group_no_one"
        sequence="92"
    />
</odoo>
